<div class="mainpad">
<div class="padl">
<div class="col0rn">
<div class="rncont">
<div class="rnhdbak">
<span class="rnhd1">&nbsp;</span><span class="rnhd2">About Nblog:</span><span class="rnhd3">&nbsp;</span>
</div>
</div>
</div>
<div class="nornbody" style="font-size:20px;">
<div class="clus">
<div class="item">
<cite>About Nblog:</cite>
<DIV ID="preflink" [routerLinkActive]="['link-active']" *ngFor="let route of routing" class="tabs_tab" ng-class="activeClass == 'dashboard' ? 'active' : 'unActive'">
<a [routerLink]="route.routeKey" class="text-black">{{route.routeValue}}</a>
</DIV>
<div class="ii"> NBlog is a blogging template completely written from the scratch by Krishnanand Sivraj  in Angular2 and Typescript hosted in github (for free of course).  Everything in .net starts with 'N', say, for example, NUnit,NInject,NDepend,etc., The same way this blog discusses .Net and related technologies.  So the name NBlog.  You can also create a website by configuring my blog template for yours from this <a href="https://github.com/krishnanandsivaraj/Angular2-starter-pack">github url</a>.  NBlog is still in pre-alpha as I work on this during my free time.  Open for any forks and pull requests.  The code is little messy and needs a cleanup. I will improve in my free time.</div>
<hr/>
<h5><u>About Me, the Author</u></h5>
<div class="ii">  My name is Krishnanand Sivaraj and I own the contents of this blog.  I am a curious software developer from India.  My everyday life revolves around architecture, writing and debugging pieces of code and discussing about it.  I feel very curious to know things when it appears new.  I love software a lot because software engineering is a journey without destination.  I love learning, sharing my learning and that gives me joy.</div>

<hr/>

<DIV ID="preflink" [routerLinkActive]="['link-active']" *ngFor="let route of routing" class="tabs_tab" ng-class="activeClass == 'dashboard' ? 'active' : 'unActive'">
<a [routerLink]="route.routeKey" class="text-black">{{route.routeValue}}</a>
</DIV>


</div>





<div class="clus">



</div>
</div>

</div>


</div>
</div>